.barMenu {
  background: rgba(138, 197, 218, 0.3);
  border: 1px solid #00AEEF;
  border-radius: 16px;
  color: #00AEEF !important;
  font-weight: 900;
  padding: 16px 36px;
}

.barMenu a {
  color: #00AEEF !important;
}

.barMenuIcon {
  width: 50px;
  height: 50px;
}