.closeButton {
  width: 20px;
  height: 20px;
}

.phoneNumber,
.email {
  font-family: 'SF-Pro-Display', sans-serif;
  font-weight: 600;
  color: #00112B;
  font-size: 3.5vw;
}

.fastlyAccessTitle {
  font-weight: 510;
  font-size: 14px;
  color: rgba(0, 17, 43, 0.4);
}

.fastlyAccessTitleDecor {
  background-color: rgba(0, 17, 43, 0.08);
  height: 1px;
}