.gridMenuItem {
  width: 215px;
  height: 88px;

  background: rgba(138, 197, 218, 0.3);
  border: 1px solid #00AEEF;
  border-radius: 10px;
  font-weight: 900;
  font-size: 16px;
  color: #00AEEF;
}

.megaliveImg {
  width: 200px;
}

.megaliveCloseIcon svg {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 768px) {

  .megaliveImg {
    width: 100px;
  }

  .megaliveCloseIcon svg {
    width: 20px;
    height: 20px;
  }

}