.logo {
  max-width: 380px;
}

.homeBtn {
  background-image: url('../../assets/images/bg-home-btn.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 124px;
  height: 38px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.title {
  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;
  color: #00AEEF;
}

.icon {
  width: 24px;
}

.phoneAndEmail {
  background-image: url('../../assets/images/bg-phone-email-btn.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 600;
  font-size: 18px;
  color: #1C6783;
  min-height: 50px;
}

@media screen and (max-width: 768px) {
  .homeBtn {
    width: 100px;
    height: 30px;
    font-size: 14px;
  }

  .title {
    font-size: 22px;
  }

  .icon {
    width: 14px;
  }

  .phoneAndEmail {
    min-height: 35px;
    max-width: 80%;
    font-size: 11px;
  }
}