.logo {
  max-width: 380px;
}

.homeBtn {
  background-image: url('../../assets/images/bg-home-btn.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 124px;
  height: 38px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.title {
  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;
  color: #00AEEF;
}

.icon {
  width: 24px;
}

.phoneAndEmail {
  background-image: url('../../assets/images/bg-phone-email-btn.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 600;
  font-size: 18px;
  color: #1C6783;
  min-height: 50px;
}

.warning {
  color: #00AEEF;
  font-size: 32px;
  font-weight: 800;
  animation: glow-blink 1.2s infinite;
}

@keyframes glow-blink {

  0%,
  100% {
    text-shadow:
      0 0 5px #1bb9f38f,
      0 0 15px #1bb9f38f,
      0 0 30px #1bb9f38f;
    opacity: 1;
  }

  50% {
    text-shadow: none;
    opacity: 0.9;
  }
}

@keyframes glow-blink-mb {

  0%,
  100% {
    text-shadow:
      0 0 3px #1bb9f38f,
      0 0 8px #1bb9f38f,
      0 0 12px #1bb9f38f;
    opacity: 1;
  }

  50% {
    text-shadow: none;
    opacity: 0.9;
  }
}

@media screen and (max-width: 768px) {
  .homeBtn {
    width: 100px;
    height: 30px;
    font-size: 14px;
  }

  .title {
    font-size: 28px;
  }

  .icon {
    width: 14px;
  }

  .phoneAndEmail {
    min-height: 35px;
    max-width: 80%;
    font-size: 11px;
  }

  .warning {
    font-size: 16px;
    animation: glow-blink-mb 1.2s infinite;
  }
}