@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #effbff;
}

a {
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}